.dnet-vscode,
.ides {

	.col_1,
	.col_2 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
//columns

.plugins-services{
	.item-link{
		width: 150px;
	}
}

.item-link {
	padding: 10px 20px;
	display: flex;
	gap: 15px;
	width: 100px;
	height: 40px;
	&.dNet-tools-plugins-link{
		width: 180px;
	}
	&.resharperCpp-link{
		width: 200px;
	}
	&__item {
		color: #545454;
		transition: color .2s ease;
		font-size: 16px;


		&:hover {
			color: #000;
		}

	}

}

.product {
	display: none;
	transition: all .3s ease-in-out;
}

.idea {
	width: 165px !important;
}


//find your tools


.fyt-wrp {
	width: 100%;
	display: flex;
	height: 85px;
	background-color: #F4F4F4;
	justify-content: center;
	align-items: center;
}

.find-your-tool {
	width: 90%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__title {
		font-size: 18px;
		font-weight: 100;
	}

	p {
		color: #545454;
	}

	&__btn {
		font-size: 1.1rem;
		padding: 10px 30px;
		height: 50px;
		font-weight: 500;
		color: #fff;
		background-color: #333;
		border: none;
		border-radius: 50px;
		cursor: pointer;
		transition: background-color .2s ease;

		&:hover {

			background-color: rgba(51, 51, 51, 0.85);

		}
	}
}
