.submenu {
	display: none;
	position: absolute;
	width: 1300px;
	height: 580px;
	top: 186%;
	//display: flex;
	background-color: #fff;
	right: -469%;

	.arrow {
		height: 30px;
		width: 30px;
		border-radius: 50%;
		border: 1px solid #fff;
		transition: background-color .3s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: rgba(255, 255, 255, .2);
		}
	}
}
.hr {
	width: 1px;
	height: 400px;
	background-color: #A1A1A3;
	margin: auto 0;
}

@import "baner";
@import "tools";