.header__wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	width: 1300px;
	display: flex;
	justify-content: space-between;

	//&__logo {
	//	&:hover {
	//		* {
	//
	//			color: #545454;
	//		}
	//	}
	//}
}

@import "header/navigation";
