.nav {
	display: flex;
	gap: 25px;
	align-items: center;
}

.nav__item {
	position: relative;
	z-index: 1000;

	i {
		color: #A1A1A3;
		transition: color .2s ease-in-out;
		cursor: pointer;

		&:hover {
			color: #fff;
		}
	}

	&__title {
		color: #A1A1A3;
		font-size: 1.3rem;
		font-weight: 500;
		cursor: pointer;
		transition: color .2s ease-in-out;

		&.active {
			color: #fff;
		}

		&:hover {
			color: #fff;
		}
	}
}
@import "submenu";
