@import url("https://fonts.cdnfonts.com/css/helvetica-2");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #27282C;
  font-family: "Helvetica", sans-serif;
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav__item {
  position: relative;
  z-index: 1000;
}
.nav__item i {
  color: #A1A1A3;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}
.nav__item i:hover {
  color: #fff;
}
.nav__item__title {
  color: #A1A1A3;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.nav__item__title.active {
  color: #fff;
}
.nav__item__title:hover {
  color: #fff;
}

.submenu {
  display: none;
  position: absolute;
  width: 1300px;
  height: 580px;
  top: 186%;
  background-color: #fff;
  right: -469%;
}
.submenu .arrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submenu .arrow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.hr {
  width: 1px;
  height: 400px;
  background-color: #A1A1A3;
  margin: auto 0;
}

.spase {
  background-image: linear-gradient(117.63deg, rgb(8, 89, 255) -0.78%, rgb(0, 154, 231) 55.03%, rgb(221, 255, 84) 111.19%);
  background-color: rgb(22, 125, 255);
}

.fleet {
  background-image: linear-gradient(130.93deg, rgb(105, 2, 154) 0%, rgb(135, 1, 199) 32.33%, rgb(107, 87, 255) 97.76%);
  background-color: rgb(135, 1, 199);
}
.fleet__logo {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../../img/fleet-icon.png");
  background-size: 48px 48px;
  background-repeat: no-repeat;
}

.cont {
  width: 250px;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 20px;
  font-size: 18px;
  flex-wrap: wrap;
}

.col1_link {
  width: 300px;
  height: 290px;
}

.fleet,
.spase {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 290px;
  justify-content: center;
  align-items: center;
}
.fleet span,
.spase span {
  display: flex;
}

.tools .titles {
  display: flex;
  justify-content: space-between;
}
.tools .all-tools {
  height: 85%;
  display: flex;
}
.tools .all-tools .title {
  padding: 30px 30px 10px 30px;
  font-size: 14px;
  font-weight: 600;
}
.tools .all-tools .wrp {
  display: flex;
  gap: 50px;
}

.dnet-vscode .col_1,
.dnet-vscode .col_2,
.ides .col_1,
.ides .col_2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plugins-services .item-link {
  width: 150px;
}

.item-link {
  padding: 10px 20px;
  display: flex;
  gap: 15px;
  width: 100px;
  height: 40px;
}
.item-link__item {
  color: #545454;
  transition: color 0.2s ease;
  font-size: 16px;
}
.item-link__item:hover {
  color: #000;
}

.product {
  display: none;
  transition: display 0.3s ease-in-out;
}

.idea {
  width: 165px !important;
}

.fyt-wrp {
  width: 100%;
  display: flex;
  height: 85px;
  background-color: #F4F4F4;
  justify-content: center;
  align-items: center;
}

.find-your-tool {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.find-your-tool__title {
  font-size: 18px;
  font-weight: 100;
}
.find-your-tool p {
  color: #545454;
}
.find-your-tool__btn {
  font-size: 1.1rem;
  padding: 10px 30px;
  height: 50px;
  font-weight: 500;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.find-your-tool__btn:hover {
  background-color: rgba(51, 51, 51, 0.85);
}

/*# sourceMappingURL=style.css.map */
